{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Data Builder</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ basic-table ] start -->
                            <div class="col-xl-12">
                                <form method='post' action='run_data_builder'>
                                    {% csrf_token %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Get Cryptocurrency Data</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <p>Select options</p>

                                                <div class="form-group">
                                                    <label>Crypto Currency</label>
                                                    <!-- <select class="form-control" id="symbol" name="symbol">
                                                        <option value="BTC-USD">BTC</option>
                                                        <option value="SOL-USD">SOL</option>
                                                        <option value="ETH-USD">ETH</option>
                                                    </select> -->
                                                    <select class="form-control" id="symbol" name="symbol">
                                                        {% for ticker in tickers %}
                                                        <option value={{ticker}}>{{ticker}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Select Interval</label>
                                                    <select class="form-control" id="interval" name="interval">
                                                        <option value="1h">Hourly</option>
                                                        <option value="1d">Daily</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Start Date</label>
                                                    <input type="date" id="start_date" name="start_date" />
                                                </div>
                                                <div class="form-group">
                                                    <label>End Date</label>
                                                    <input type="date" id="end_date" name="end_date"/>
                                                </div>
                                                <div class="input-group-append">
                                                    <button id="run" type="submit" class="btn btn-secondary">Get Data</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- [ stiped-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Your Dataset</h5>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <th>
                                                    {% for col in result.columns %}
                                                <td>
                                                    {{col}}
                                                </td>
                                                {% endfor %}
                                                </th>
                                                {% for index, row in result.iterrows %}
                                                <tr class="tbl_row">
                                                    
                                                    {% for cell in row %}
                                                    <td class="tble_attr">
                                                        {{cell}}
                                                    </td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ stiped-table ] end -->


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#run').attr("data-original-text", $('#run').html());
            $('form').submit(function() {
                $('#run').prop("disabled", true);
              // add spinner to button
                $('#run').html(
                    `<span id='loading' class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
            })
            $('#run').prop("disabled", false);
            $('#run').html($(elem).attr("data-original-text"));
        });
    </script>
{% endblock javascripts %}