{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Data Engineering</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ basic-table ] start -->
                            <div class="col-xl-12">
                                <form method='post' action='run_technical_indicators' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Add Technical Indicators</h5>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <p>Select options</p>
                                                <div class="form-group">
                                                    <input type="checkbox" class="btn-check" id="btn-rsi" value="rsi" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-rsi" >Relative Strength Index(RSI)</label>
                                                    
                                                    <input type="checkbox" class="btn-check" id="btn-stoch" value="stochastic" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-stoch">Stochastic Index(Stoch)</label>
                                                    
                                                    <input type="checkbox" class="btn-check" id="btn-mfi" value="mfi" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-mfi">Money Flow Index(MFI)</label>
                                                    
                                                    <input type="checkbox" class="btn-check" id="btn-bb" value="bb" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-bb">Bollinger Bands</label>
                                                    
                                                    <input type="checkbox" class="btn-check" id="btn-sma" value="sma" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-sma">Simple Moving Average(SMA)</label>

                                                    <input type="checkbox" class="btn-check" id="btn-ema" value="ema" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-ema">Exponential Moving Average(EMA)</label>
                                                    
                                                    <input type="checkbox" class="btn-check" id="btn-macd" value="macd" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-macd">MACD</label>

                                                    <input type="checkbox" class="btn-check" id="btn-wma" value="wma" name="indicators" autocomplete="off">
                                                    <label class="btn btn-primary" for="btn-wma">Weighted Moving Average(SMA)</label>

                                                </div>
                                                
                                                <div class="file-upload-wrapper">
                                                    <span>Add Your Dataset<span>
                                                    <input type="file" id="input-file-max-fs" class="file-upload" data-max-file-size="2M" 
                                                    name="upload" accept="csv"/>
                                                </div>
                                                <br>
                                                <div class="input-group-append">
                                                    <button id="run" type="submit" class="btn btn-secondary">Calculate Technical Indicators</button>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    
                       <!-- [ stiped-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Your Dataset</h5>
                                </div>
                                <div class="card-block table-border-style">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <th>
                                                    {% for col in indicator_result.columns %}
                                                <td>
                                                    {{col}}
                                                </td>
                                                {% endfor %}
                                                </th>
                                                {% for index, row in indicator_result.iterrows %}
                                                <tr class="tbl_row">
                                                    
                                                    {% for cell in row %}
                                                    <td class="tble_attr">
                                                        {{cell}}
                                                    </td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ stiped-table ] end -->
                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#run').attr("data-original-text", $('#run').html());
            $('form').submit(function() {
                $('#run').prop("disabled", true);
              // add spinner to button
                $('#run').html(
                    `<span id='loading' class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                );
            })
            $('#run').prop("disabled", false);
            $('#run').html($(elem).attr("data-original-text"));
        });
    </script>
{% endblock javascripts %}